.DS_Store
*.swp
node_modules
*.log
extract/
checkouts
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/ubersheet.iml
.idea/vcs.xml
.idea/workspace.xml
atlassian-ide-plugin.xml
.idea
/.vs
