.DS_Store
*.swp
node_modules
*.log
extract/
checkouts
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/ubersheet.iml
.idea/vcs.xml
.idea/workspace.xml
atlassian-ide-plugin.xml
.idea/dictionaries/vitalkond.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/jsLibraryMappings.xml
.idea/jsLinters/jshint.xml
.idea/libraries/sass_stdlib.xml
